# MailManager - IMAP
IMAP_HOST=
IMAP_PORT=993
IMAP_USERNAME=
IMAP_PASSWORD=
IMAP_SSL=

# MailManger - SMTP
SMTP_HOST=
SMTP_PORT=465
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SSL=

# Teams Notification
TEAMS_WEBHOOK_URL=

MORNING_CHECK_FOLDER=
MORNING_CHECK_MAIL_TO=
MORNING_CHECK_MAIL_CC=
MORNING_CHECK_TEAMS_WEBHOOK=

#
NO_REPLAY_FOLDER=ALL

